-f https://download.pytorch.org/whl/cu121
torch==2.4.1
torchvision==0.19.1
numpy
pandas
matplotlib
seaborn
scikit-learn
PyYAML
omegaconf
hydra-core
hydra-joblib-launcher
transformers
tokenizers
timm
wandb
biopython
networkx
pydantic
psutil
tqdm
requests
safetensors
pyarrow
click
Jinja2
markdown
joblib
pytest