# configs/sweeps/targetnet_sweep.yaml

program: src.launch.train     # 对应 python -m src.launch.train
name: targetnet_optimized_sweep
method: bayes                 # 也可以先改成 random，后面解释
metric:
  name: test/test_sweep/pr_auc            # 对应你 WandB summary 里写入的 key
  goal: maximize

parameters:
  model.arch_variant:
    values: ["opt3_tiny", "opt3_base", "opt3_ms", "opt3_deep", "opt4_tiny", "opt4_base", "opt4_ms", "opt4_deep"]

  model.stem_kernel_size:
    values: [3, 5, 7]

  model.block_kernel_size:
    values: [3, 5, 7]

  model.target_output_length:
    values: [12, 16]

  model.dropout:
    values: [0.0, 0.1, 0.2, 0.3, 0.5]

  model.se_type:
    values: ["none", "basic", "enhanced"]

  model.se_reduction:
    values: [4, 8, 16]
  # train.label_smoothing:
  #   values: [true, false] 
  # train.loss_type:
  #   values: [bce, focal, bce_focal] 
  # train.esa_weighting:
  #   values: [true, false]
  # train.amp:
  #   values: [true, false]
  # train.ema:
  #   values: [true, false]
  # train.optimizer:
  #   values: [adam, adamw, sgd, rmsprop]
  # train.lr:
  #   values: [0.001, 0.005, 0.0001]
  # train.weight_decay:
  #   values: [0.0, 0.01]
  # train.scheduler:
  #   values: [none, plateau, cosine, step]
  # run.batch_size:
  #   values: [64, 128, 256, 512, 1024]
  # run.num_epochs:
  #   values: [40, 50, 60, 100]

command:
  - ${env}
  - ${interpreter}
  - -m
  - src.launch.train
  - experiment=miRAW_TargetNet_Optimized
  - run.train_reduction=none 
  - logging.wandb.enabled=true
  - logging.wandb.project=TargetNet
  - logging.wandb.group=targetnet_optimized_arch_sweep
  - ${args_no_hyphens}   # ⭐ 关键修改
