# configs/sweeps/targetnet_sweep.yaml

program: src.launch.train     # 对应 python -m src.launch.train
name: targetnet_optimized_sweep
method: bayes                 # 也可以先改成 random，后面解释
metric:
  name: test/test_sweep/pr_auc            # 对应你 WandB summary 里写入的 key
  goal: maximize

parameters:
  model.arch_variant:
    values: ["opt4_tiny"]

  model.stem_kernel_size:
    values: [5]

  model.block_kernel_size:
    values: [3]

  model.target_output_length:
    values: [12]

  model.dropout:
    values: [0.0]

  model.se_type:
    values: ["basic"]

  model.se_reduction:
    values: [8]
  train.label_smoothing:
    values: [true] 
  train.loss_type:
    values: [bce_focal] 
  train.esa_weighting:
    values: [true]
  train.amp:
    values: [true]
  train.ema:
    values: [true]
  train.optimizer:
    values: [adamw]
  train.lr:
    values: [0.001, 0.005, 0.0001]
  train.weight_decay:
    values: [0.0, 0.01]
  train.scheduler:
    values: [cosine]
  run.batch_size:
    values: [128, 256, 512, 1024]
  run.num_epochs:
    values: [40, 60, 100]

command:
  - ${env}
  - ${interpreter}
  - -m
  - src.launch.train
  - experiment=miRAW_TargetNet_Optimized
  - run.train_reduction=none 
  - logging.wandb.enabled=true
  - logging.wandb.project=TargetNet
  - logging.wandb.group=targetnet_optimized_arch_sweep
  - ${args_no_hyphens}   # ⭐ 关键修改
