# configs/sweeps/tf_optim_sweep.yaml

program: src.launch.train     # 对应 python -m src.launch.train
name: tf_optim_sweep
method: bayes                 # 也可以先改成 random，后面解释
metric:
  name: val/pr_auc            # 对应你 WandB summary 里写入的 key
  goal: maximize

parameters:
  # model.d_model:
  #   values: [128, 256]
  # model.n_layers:
  #   values: [2, 4]
  # model.n_heads:
  #   values: [4, 8]
  # model.dim_ff:
  #   values: [512, 1024]
  # model.dropout:
  #   values: [0.1, 0.2, 0.3]
  train.weight_decay:
    values: [0.0, 0.1]
  train.ema.enabled:
    values: [true, false]
  train.lr:
    values: [1e-4, 3e-4, 1e-3]
  train.scheduler:
    values: [plateau, cosine, step]
  train.optimizer:
    values: [adamw, adam, sgd, rmsprop]
  run.num_epochs:
    values: [40, 60]
  

command:
  - ${env}
  - ${interpreter}
  - -m
  - src.launch.train
  - experiment=miRAW_Transformer_baseline
  - logging.wandb.enabled=true
  - logging.wandb.project=TargetNet
  - logging.wandb.group=tf_struct_sweep
  - run.batch_size=128
  - ${args_no_hyphens}   # ⭐ 关键修改
